h1 { color: red; }

.main {
    display: flex;
    position: relative;
}

.main img {
    width: 30%;
}





.left {
    flex: 1;
    position: absolute;
}

.right {
    flex: 1;
    position: absolute;
}